<app-header></app-header>
<div fxLayout="row" fxLayoutAlign="center center" class="bag-main">
</div>
<br>
<br>
 <mat-accordion displayMode="flat" multi class="mat-table" >
   <section matSort (matSortChange)="sortData($event)" class="mat-elevation-z2 mat-header-row">
        <span class="mat-header-cell">Bag Tag</span>
        <span class="mat-header-cell">Location</span>
        <span class="mat-header-cell" mat-sort-header="timestamp">Timestamp</span>
        <span class="mat-header-cell">Event</span>
      </section>
    <mat-expansion-panel *ngFor="let bag of sortedData">
   <mat-expansion-panel-header class="mat-row">
        <span class="mat-cell">{{bag.bagData.bagTag}}</span>
        <span class="mat-cell">{{bag.bagData.locationInfo.description}}</span>
        <span class="mat-cell">{{bag.timestamp}}</span>
        <span class="mat-cell">{{bag.bagData.events.eventName}}</span>
      </mat-expansion-panel-header>
      <mat-action-row *ngIf="bag.bagData.flight">
    <div class="row" >
              <div class="col"><b>Flight Num</b></div>
              <div class="col"><b>Origin</b></div>
              <div class="col"><b>Destination</b></div>
              <div class="w-100"></div>
              <div class="col">{{bag.bagData.flight.flightNumber}} </div>
              <div class="col">{{bag.bagData.flight.departureAirport}}</div>
              <div class="col">{{bag.bagData.flight.destinationAirport}}</div>

            </div>
      </mat-action-row>
      <mat-action-row *ngIf="bag.bagData.actions" >
          <div class="row">
             <div class="col"><b>Departure Time</b></div>
            <div class="col"><b>Action</b></div>
            <div class="w-100"></div>
            <div class="col">{{bag.bagData.flight.departureTime}}</div>
            <div class="col">{{bag.bagData.actions.actionName}}</div>
          </div>
        </mat-action-row> 
        <mat-action-row *ngIf="bag.bagData.user" >
          <div class="row">
             <div class="col"><b>Name</b></div>
            <div class="col"><b>Type</b></div>
            <div class="col"><b>Company</b></div>
            <div class="w-100"></div>
            <div class="col">{{bag.bagData.user.fullName}}</div>
            <div class="col">{{bag.bagData.user.type}}</div>
            <div class="col">{{bag.bagData.user.company}}</div>
          </div>
        </mat-action-row> 
  
    </mat-expansion-panel>

  </mat-accordion>
  <br>
<br>
<br>
<br>
<br>
<div class="search-results">
    <div id="showHideError" *ngIf="hasError">
        <div class='alert alert-warning'>
          <strong>Warning! &nbsp;</strong>{{errMsg}}</div>
        </div>
  <br>
  <br>
</div>