.bag-main{
  margin-top: 5%;
  }
 /* mat-card{
  
  }*/

.bagSearch{
height: 300px;
}

.basic-container{
  margin: auto;
  width: 55%;
  cursor: pointer;
  text-align: center;
  transition: 0.4s;
  font-family: 'Courier New', Courier, monospace;
  background-color: silver;
}

.panel{
  padding: 20px;
  background-color: white;
}


.logout{
  float: left;
}

.search-results{
  text-align: center;
  margin: auto;
  width: 50%;
}
.row{
  margin: auto;
  cursor: pointer;
  text-align: center;
  transition: 0.4s;
}

.mat-accordion{
  margin: auto;
  width: 100%;

}
.mat-accordion .mat-header-row {
  padding-left: 1.5rem;
  padding-right: 2rem;
  border-bottom: none;
}

.mat-expansion-panel-header.mat-row {
  border-bottom: none;
}

.mat-table {
  display: block;
}

.mat-header-row {
  min-height: 56px;
}

.mat-row {
  min-height: 48px;
}

.mat-row, .mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;

  // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
  // element that will stretch the row the correct height. See:
  // https://connect.microsoft.com/IE/feedback/details/802625
  &::after {
    display: inline-block;
    min-height: inherit;
    content: '';
  }
}

.mat-header-cell{
  color:rgb(76, 112, 167);
}
.mat-cell, .mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

#showHideError{
  color:red;
  text-align: center;
  font-family: 'Arial, Helvetica, sans-serif';
  font-size: 20px;
  max-width: 50%;
  margin:auto;
}

