<app-header>
</app-header>
<br>
<h2>Live Data</h2>
<br>
<div class="dropdownAir">
    <mat-form-field>
      <mat-label>Airline</mat-label>
      <mat-select [(ngModel)]="selectedAirline" (ngModelChange)="onAirlineSelected()">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let airline of airlines" value={{airline.airlineCode}}>
          {{airline.airlineName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="dropdownArr">
    <mat-form-field>
      <mat-label>Airport</mat-label>
      <mat-select [(ngModel)]="selectedAirport " (ngModelChange)="onAirportSelected()">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let airport of airports" value={{airport.airportCode}}>
          {{airport.airportName}} - {{airport.airportCity}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br>
<div class="table-responsive text-nowrap">
    <table class="table table-striped" style="background-color: white;">
        <thead>
            <tr>
                <th scope="col">Bag Tag</th>
                <th scope="col">Flight No.</th>
                <th scope="col">Departure Date</th>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th scope="col">Added By</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
                <tr (click)="onRowClicked(msg)" *ngFor="let msg of msgs">
        <th scope="row">{{ msg.bagTag}}</th>
        <td>{{msg.flight.flightNumber}}</td>
        <td>{{msg.flight.departureDate}}</td>
        <td>{{msg.flight.departureAirport}}</td>
        <td>{{msg.flight.destinationAirport}}</td>
        <td>{{msg.user.fullName}}</td>
        <td>{{msg.events.eventName}}</td>
      </tr>
        </tbody>
    </table>
    <br>
<br>
<div id="showHideError" *ngIf="hasError">
    <div class='alert alert-warning'>
      <strong>Warning! &nbsp;</strong>{{errMsg}}</div>
    </div>
</div>