h2 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}



.dropdownEvent, .dropdownAir, .dropdownArr, .dropdownDest {
   
    padding-right: 50px;
    padding-left: 15px;
    padding-top: 10px;
    width: 50%;
   float:left;
    text-align:center;
    background-color: white;
   }

   @media screen and (max-width: 900px) {
    .dropdownEvent, .dropdownAir, .dropdownArr, .dropdownDest {
      width: 100%;
    }
}