<router-outlet></router-outlet>
    
  <!-- Footer -->
<footer class="page-footer font-small blue fixed bottom" style="color: white;">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">SITA © 2019  
        <div class="version">Version: {{version}}</div> 
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  