<app-header></app-header>
<div fxLayout="row" fxLayoutAlign="center center" class="bag-main">
  <mat-card class="bagSearch">
    <mat-card-content fxLayout="column">
      <div class="search-bar">
        <input class="form-control" type="text" placeholder="Search..." [(ngModel)]="searchText">
      </div>
      <br>
      <br>
      <mat-form-field class="datepicker">
        <br>
        <br>
        <input matInput [matDatepicker]="picker" matInput placeholder="Select a Date:" [(ngModel)]="searchCriteriaDate"
          (dateChange)="getBagQuery()" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
    </mat-card-actions>
  </mat-card>
</div>
<br>

<div class="table-content">
  <div class="dropdownAir">
    <mat-form-field>
      <mat-label>Airline</mat-label>
      <mat-select [(ngModel)]="selectedAirline" (ngModelChange)="onAirlineSelected()">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let airline of airlines" value={{airline.airlineCode}}>
          {{airline.airlineName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="dropdownArr">
    <mat-form-field>
      <mat-label>Origin</mat-label>
      <mat-select [(ngModel)]="depAirport " (ngModelChange)="onDepSelected()">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let airport of airports" value={{airport.airportCode}}>
          {{airport.airportName}} - {{airport.airportCity}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="dropdownDest">
    <mat-form-field>
      <mat-label>Destination</mat-label>
      <mat-select [(ngModel)]="destAirport " (ngModelChange)="onDestSelected()">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let airport of airports" value={{airport.airportCode}}>
          {{airport.airportName}} - {{airport.airportCity}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="dropdownEvent">
    <mat-form-field>
      <mat-label>Bag Events</mat-label>
      <mat-select [(ngModel)]="eventType " (ngModelChange)="onEventSelected()">
        <mat-option value="">All Events</mat-option>
        <mat-option *ngFor="let event of eventList" value={{event.eventName}}>
          {{event.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br>
  <hr>
  <div class="table-responsive text-nowrap">
  <table class="table table-striped" style="background-color: white;">
    <thead>
      <tr>
        <th scope="col">Bag Tag</th>
        <th scope="col">Flight No.</th>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
        <th scope="col">Event</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="onRowClicked(bag)" *ngFor="let bag of searchResult 
      | filter:searchText |filter:eventType 
      |depFilter:depAirport |destFilter:destAirport
      |filter:selectedAirline"> 
        <th scope="row">{{bag.bagTag}}</th>
        <td>{{bag.flight.flightNumber}}</td>
        <td>{{bag.flight.departureAirport}}</td>
        <td>{{bag.flight.destinationAirport}}</td>
        <td>{{bag.events.eventName}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<br>

<br>
<br>

<div id="showHideError" *ngIf="hasError">
<div class='alert alert-warning'>
  <strong>Warning! &nbsp;</strong>{{errMsg}}</div>
</div>

<br>
<br>
<br>