.bag-main{
    margin-top: 5%;
    }
    mat-card{
    width: 80%;   }
  
  .bagSearch{
  height: 300px;
  }

  .panel{
    padding: 20px;
    background-color: white;
  }
  
  
  .logout{
    float: left;
  }
  
  .search-results{
    text-align: center;
    margin: auto;
    width: 50%;
  }
  .row{
    margin: auto;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
  }
  
  .mat-accordion{
    margin: auto;
  
  }
  .mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
  }
  
  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
  }
  
  .mat-table {
    display: block;
  }
  
  .mat-header-row {
    min-height: 56px;
  }
  
  .mat-row {
    min-height: 48px;
  }
  
  .mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
  
    // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
    // element that will stretch the row the correct height. See:
    // https://connect.microsoft.com/IE/feedback/details/802625
    &::after {
      display: inline-block;
      min-height: inherit;
      content: '';
    }
  }
  
  .mat-header-cell{
    color:rgb(76, 112, 167);
  }
  .mat-cell, .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
  }
  
  .table-content{
  //  background-color: #fff;
    width: 80%;
    margin:auto;
  }


  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }
  
  .dropdownEvent, .dropdownAir, .dropdownArr, .dropdownDest {
   
   padding-right: 50px;
   padding-left: 15px;
   padding-top: 10px;
   width: 25%;
   float:left;
   text-align:center;
   background-color: white;
  }

  .datepicker{
    width:30%;
  }


  #showHideError{
    color:red;
    text-align: center;
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 20px;
    max-width: 50%;
    margin:auto;
  }

  .refresh{
    float:left;
  }

  @media screen and (max-width: 900px) {
    .dropdownEvent, .dropdownAir, .dropdownArr, .dropdownDest {
      width: 100%;
    }

    .datepicker {
      width: 50%;
    }

    .table-content {
      width: 100%;
    }


    mat-card{
      width: 100%;   }

  }
  