.login-main{
	margin-top: 8%;
    }
    mat-card{
	min-width: 45%;
    
    }

.title{
    font-family: "Times New Roman", Times, serif;
}


.showHideError{
	color:red;
	text-align: center;
	font-family: 'Arial, Helvetica, sans-serif';
	font-size: 20px;
}

h3 {
	font-family: "Times New Roman", Times, serif;
	margin: auto;
}



