<div class="background">
<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <mat-card >
  <mat-card-content fxLayout="column">
    <h3>Bagchain Admin UI</h3>
    <mat-form-field>
      <input matInput placeholder="Username:" [(ngModel)]="enterUsername">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password:" [(ngModel)]="enterPassword" (keyup.enter)="login()">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" value="Login" (click)="login()">Login</button>
  </mat-card-actions>
  </mat-card>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div id="showHideErrorText" class="showHideError" *ngIf="hasError">
      <div class='alert alert-warning'>
          <strong>Warning! &nbsp;</strong>{{errMsg}}</div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>

  