.header{
	margin-top: 2%;
    text-align: center;
    margin: 1em 0.5em 0;
	text-shadow: 0 -1px rgba(0,0,0,0.6);
	font-size: 28px;
	line-height: 50px;
	background: rgba(53,86,129, 0.8);
	border: 1px solid #fff;
	padding: 5px 15px;
	color: white;
	border-radius: 0 10px 0 10px;
	box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
	padding-left: 160px;
}

h3{
	font-family: 'Arial, Helvetica, sans-serif';
	display: inline-block;
	margin: 0;
	margin-right: 180px;
}

.logout{
	clear: both;
	float:right;
	margin-top: -4px;
}

.dropdown-menu{
	left: auto;
	right: 0;

}

@media screen and (max-width: 900px) {
	.dropdown-menu{
		right:auto;
		left:0;
	}

}

