<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false">

            <!-- Navbar brand -->
            <mdb-navbar-brand><a class="navbar-brand" href="#">{{title}}</a></mdb-navbar-brand>
          
            <!-- Collapsible content -->
            <links>
              <!-- Links -->
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown" style="padding-right: 10px;">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink={{link}}>{{value}}</a>
                        <a class="dropdown-item" style="cursor:pointer;" (click)="logout()">Logout</a>
                      </div>
                    </li>
               
                  <!-- Dropdown -->

              </ul>
              <!-- Links -->
            </links>
            <!-- Collapsible content -->
          
          </mdb-navbar>
          <!--/.Navbar-->