/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
    background: rgb(9,105,121);
    background: linear-gradient(90deg, rgba(9,105,121,0.8298669809720763) 9%, rgba(0,117,255,0.8774860285911239) 69%);

}